{% extends 'base.html' %}
{% block content %}
    <h1>Resturaunt Menu</h1>
    {% for meal in meals %}
        <h2>{{ meal.1 }}</h2>           <!-- a meal is a tuple of MEAL_TYPE - (variable_name, string_name) the 1 is to get the string_name-->
        {% for m in item_list %}        <!-- item_list is comprised from models.Item (in lowercase) +'_list', django is expecting this convention-->
            {% if m.meal_type == meal.0 %}
                {% if m.status == 0 %}
                <a href="{% url 'menu_item' m.pk %}"><h3><del>{{ m.meal }}</del></h3></a>    <!-- this will create a strike-thru on the words -->
                {% else %}
                <a href="{% url 'menu_item' m.pk %}"><h3>{{ m.meal }}</h3></a>
                {% endif %}

                <p>{{ m.description }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}