{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Resturaunt Menu</h1>
    <ul class="list-group list-group-flush">
        {% for meal in meals %}
            <h2 class="pt-5">{{ meal.1 }}</h2>           <!-- a meal is a tuple of MEAL_TYPE - (variable_name, string_name) the 1 is to get the string_name-->
            {% for m in item_list %}        <!-- item_list is comprised from models.Item (in lowercase) +'_list', django is expecting this convention-->
                {% if m.meal_type == meal.0 %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                        {% if m.status == 0 %}
                        <a href="{% url 'menu_item' m.pk %}"><h3><del>{{ m.meal }}</del></h3></a>    <!-- this will create a strike-thru on the words -->
                        <span class="badge bg-primary rounded-pill"><s>{{ m.price }}</s></span>
                        {% else %}
                        <a href="{% url 'menu_item' m.pk %}"><h3>{{ m.meal }}</h3></a>
                        <span class="badge bg-primary rounded-pill">{{ m.price }}</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item pt-0">
                        <p>{{ m.description }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}